OCR_LOADER_TOKEN=your-ocr-loader-token-here
OCR_LOADER_MIN_CHARS=your-ocr-loader-min-chars-here
OCR_LOADER_MAX_PAGES=your-ocr-loader-max-pages-here
OCR_LOADER_MODEL=your-ocr-loader-model-here
OLLAMA_URL=your-ollama-url-here
TIKA_URL=your-tika-url-here
