# ######################
# POSTGRESQL CONFIGURATION
# ######################
POSTGRES_DB=your-postgres-db-here
POSTGRES_HOST=your-postgres-host-here
POSTGRES_PORT=your-postgres-port-here
POSTGRES_USER=your-postgres-user-here
POSTGRES_PASSWORD=your-postgres-password-here
POSTGRES_DATA=your-postgres-data-here

# ######################
# HEALTH CHECK CONFIGURATION
# ######################

# Health check intervals (in seconds)
HEALTH_CHECK_INTERVAL=your-health-check-interval-here
HEALTH_CHECK_TIMEOUT=your-health-check-timeout-here
HEALTH_CHECK_RETRIES=your-health-check-retries-here
HEALTH_CHECK_START_PERIOD=your-health-check-start-period-here

# ######################
# METABASE CONFIGURATION
# ######################

# Metabase PostgreSQL configuration
MB_DB_DBNAME=your-mb-db-dbname-here
MB_DB_TYPE=your-mb-db-type-here
MB_DB_PORT=your-mb-db-port-here
MB_DB_USER=your-mb-db-user-here
MB_DB_PASS=your-mb-db-pass-here
MB_DB_HOST=your-mb-db-host-here
MB_DB_SCHEMA=your-mb-db-schema-here
# Metabase server configuration
MB_JETTY_HOST=your-mb-jetty-host-here
MB_JETTY_PORT=your-mb-jetty-port-here

# Service resource limits
METABASE_CPUS=your-metabase-cpus-here
METABASE_MEMORY=your-metabase-memory-here

MB_ANON_TRACKING_ENABLED=your-mb-anon-tracking-enabled-here
MB_GOOGLE_AUTH_ENABLED=your-mb-google-auth-enabled-here

METABASE_PORT=your-metabase-port-here
METABASE_DATA_PATH=your-metabase-data-path-here
