OLLAMA_DEBUG=your-ollama-debug-here
OLLAMA_HOST=your-ollama-host-here
OLLAMA_CONTEXT_LENGTH=your-ollama-context-length-here
OLLAMA_KEEP_ALIVE=your-ollama-keep-alive-here
OLLAMA_MAX_LOADED_MODELS=your-ollama-max-loaded-models-here
OLLAMA_MAX_TRANSFER_STREAMS=your-ollama-max-transfer-streams-here
OLLAMA_MAX_QUEUE=your-ollama-max-queue-here
OLLAMA_MODELS=your-ollama-models-here
OLLAMA_NUM_PARALLEL=your-ollama-num-parallel-here
OLLAMA_NO_CLOUD=your-ollama-no-cloud-here
OLLAMA_NOPRUNE=your-ollama-noprune-here
OLLAMA_ORIGINS=your-ollama-origins-here
OLLAMA_SCHED_SPREAD=your-ollama-sched-spread-here
OLLAMA_FLASH_ATTENTION=your-ollama-flash-attention-here
OLLAMA_KV_CACHE_TYPE=your-ollama-kv-cache-type-here
OLLAMA_LLM_LIBRARY=your-ollama-llm-library-here
OLLAMA_GPU_OVERHEAD=your-ollama-gpu-overhead-here
OLLAMA_IGPU_ENABLE=your-ollama-igpu-enable-here
LLAMA_ARG_FIT=your-llama-arg-fit-here
LLAMA_ARG_FIT_TARGET=your-llama-arg-fit-target-here
OLLAMA_LOAD_TIMEOUT=your-ollama-load-timeout-here
