GF_AUTH_GENERIC_OAUTH_CLIENT_ID=your-gf-auth-generic-oauth-client-id-here
GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET=your-gf-auth-generic-oauth-client-secret-here
GF_SERVER_ROOT_URL=your-gf-server-root-url-here
GF_AUTH_GENERIC_OAUTH_ENABLED=your-gf-auth-generic-oauth-enabled-here
GF_AUTH_GENERIC_OAUTH_NAME=your-gf-auth-generic-oauth-name-here
GF_AUTH_GENERIC_OAUTH_SCOPES=your-gf-auth-generic-oauth-scopes-here
GF_AUTH_GENERIC_OAUTH_AUTH_URL=your-gf-auth-generic-oauth-auth-url-here
GF_AUTH_GENERIC_OAUTH_TOKEN_URL=your-gf-auth-generic-oauth-token-url-here
GF_AUTH_GENERIC_OAUTH_API_URL=your-gf-auth-generic-oauth-api-url-here
GF_AUTH_GENERIC_OAUTH_ALLOW_SIGN_UP=your-gf-auth-generic-oauth-allow-sign-up-here
GF_AUTH_GENERIC_OAUTH_USE_PKCE=your-gf-auth-generic-oauth-use-pkce-here
GF_AUTH_GENERIC_OAUTH_ORG_ROLE=your-gf-auth-generic-oauth-org-role-here
